$body-bg: #f2f2f2;
$primary-color: #009a17;
$iconColor: #c9c9c9;
$text-color: #444;
$text-color-light: #666;
$text-color-lighter: #aaa;
$light-gray: #efefef;
$disable-color: #e4ebe5;
$disable-text: #aebfa9;
$is-selected-day: #03bf1f;
$is-today: #029418;
$is-selected-day-range: #a0f5ad;
$is-selected-day-range-color: #008213;
$is-weekends: #d20000;
$blue: #538bff;
$light-blue: #c8daff;
