// Calendar Core Component Styles
@use '../variables' as *;

.calendar-core {
  position: relative;
  background-color: var(--calendar-bg);
  z-index: 10;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  font-family: inherit;
  border-radius: var(--calendar-radius-sm);
  overflow: hidden;
  width: var(--calendar-modal-width);
  margin: 0 auto;

  &.is-calender {
    position: relative;
  }
}

