html {
	scroll-behavior: smooth;
}
body {
	font-family: 'palanquin';
	background-color: $body-bg;
	font-size: 16px;
}

.main-content {
	min-height: calc(100vh - 90px);
}

.custom-input {
	text-align: right;
	color: $primary-color;
	height: 46px !important;
	line-height: 46px !important;
	&::-webkit-input-placeholder {
		color: $primary-color;
	}
	&:-ms-input-placeholder {
		color: $primary-color;
	}
	&::placeholder {
		color: $primary-color;
	}
}
.custom-days {
	background-color: $light-blue;
	.is-week-days {
		color: $is-weekends;
	}
	.is-disabled {
		color: $text-color;
	}
}
.custom-header {
	background-color: $blue;
}

.scroll-offset {
	padding-top: 60px;
	margin-top: -60px;
}
a.is-active {
	color: $primary-color;
}
.btn {
	&:focus {
		outline: none;
	}
}
