{
  "extends": ["airbnb-typescript", "airbnb/hooks"],
  "plugins": ["react", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },

  "rules": {
    "linebreak-style": "off"
  },
  "overrides": [
    {
      "files": ["**/*.tsx", "**/*.ts"],
      "extends": ["plugin:@typescript-eslint/recommended"],

      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": 2022,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "rules": {
        "indent": "off",
        "@typescript-eslint/indent": "off",
        "react-hooks/exhaustive-deps": "off",
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": "off",
        "semi": "off",
        "@typescript-eslint/semi": "off",
        "import/no-extraneous-dependencies": "off",
        "import/extensions": "off",
        "@typescript-eslint/no-shadow": "off"
      }
    }
  ]
}
