src
vite
exampel
.browserslistrc
.commitlintrc
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.lintstagedrc
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
.versionrc
.vscode/extensions.json
.vscode/settings.json
.vscode
react-calendar-datetime-picker-*
vite*
index.html
postcss*