.daysList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
.daysList_day {
  width: rem(calc(340px / 7));
  height: rem(calc(340px / 7));
  line-height: rem(calc(340px / 7));
  float: left;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.daysList_day:nth-child(7n + 1) {
  clear: left;
}
.is_today {
  border: rem(2px) solid green;
}
.is_disabled {
  pointer-events: none;
  background-color: #aaa;
  opacity: 0.7;
}

.is_selected_day {
  background-color: yellow;
}
.is_selected_day_from {
  background-color: blue;
}
.is_selected_day_to {
  background-color: brown;
}
.is_selected_day_range {
  background-color: yellow;
}

.pointer {
  cursor: pointer;
}
