.daysList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  .daysList-day {
    width: rem(calc(340px / 7));
    height: rem(calc(340px / 7));
    line-height: rem(calc(340px / 7));
    float: left;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }

  .daysList-day:nth-child(7n + 1) {
    clear: left;
  }
  .is-today {
    border: rem(2px) solid green;
  }
  .is-disabled {
    pointer-events: none;
    background-color: #aaa;
    opacity: 0.7;
  }
  .is-minMaxDisabled {
    pointer-events: none;
    background-color: #ccc;
    opacity: 0.3;
  }

  .is-selected-day {
    background-color: yellow;
  }
  .is-selected-day-from {
    background-color: cyan;
    border-top-left-radius: rem(50%);
    border-bottom-left-radius: rem(50%);
  }
  .is-selected-day-to {
    background-color: yellowgreen;
    border-top-right-radius: rem(50%);
    border-bottom-right-radius: rem(50%);
  }
  .is-selected-day-range {
    background-color: yellow;
  }
  .is-pointer {
    cursor: pointer;
  }
  .is-weekends {
    color: red;
  }
}
.is-rtl.daysList {
  .daysList-day {
    float: right;
  }
  .daysList-day:nth-child(7n + 1) {
    clear: right;
  }
  .is-selected-day-from {
    background-color: cyan;
    border-top-left-radius: rem(0);
    border-bottom-left-radius: rem(0);
    border-top-right-radius: rem(50%);
    border-bottom-right-radius: rem(50%);
  }
  .is-selected-day-to {
    background-color: yellowgreen;
    border-top-right-radius: rem(0);
    border-bottom-right-radius: rem(0);
    border-top-left-radius: rem(50%);
    border-bottom-left-radius: rem(50%);
  }
}
