.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: rem(24px 16px);
  border-top-left-radius: rem($global-radius-small);
  border-top-right-radius: rem($global-radius-small);
  .header-date {
    display: flex;
    color: white;
    font-size: rem(18px);
    justify-content: center;
    flex-wrap: wrap;
    .header-date--month {
      margin-left: rem(8px);
      cursor: pointer;
    }
    .header-date--year {
      cursor: pointer;
    }
    .header-date--day {
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin-top: rem(8px);
    }
  }
  .header--btn {
    cursor: pointer;
    display: block;
    width: rem(20px);
    height: rem(20px);
    color: white;
    &.is-disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}
.is-rtl {
  .header {
    .header-date {
      direction: ltr;
    }
    .header--btn {
      transform: scale(-1);
    }
  }
}
