.input-picker {
  position: relative;
  display: inline-block;
  .input-picker--input {
    line-height: rem(26px);
    height: rem(26px);
    padding: 0 8px;
    border-radius: rem(4px);
    border-width: rem(1px);
    &:focus {
      outline: none;
    }
  }
  .input-picker--clearBtn {
    display: block;
    width: rem(20px);
    height: rem(20px);
    position: absolute;
    top: 50%;
    right: rem(5px);
    transform: translateY(-50%);
    cursor: pointer;
    color: $iconColor;
  }
}
