.input-picker {
  position: relative;
  display: inline-block;
  .input-picker--input{
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
  }
  .input-picker--clearBtn {
    display: block;
    width: 24px;
    height:  24px;
    position: absolute;
    top: 50%;    
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    color: $iconColor
  }
}
