.monthList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 340px;
}
.monthList_month {
  width: calc(340px / 3);
  height: 72px;
  line-height: 72px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.monthList_month:nth-child(3n + 1) {
  clear: left;
}
