.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(0 8px 8px);
  .field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time-fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column-reverse;
    &.is-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    .time-fieldset--dec,
    .time-fieldset--inc {
      width: rem(16px);
      height: rem(16px);
      padding: 0;
      margin: auto;
      border: 0;
      // overflow: hidden;
      cursor: pointer;
      opacity: 0.3;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: rem(20px 16px);
      // background-color: white;
      &:focus {
        outline: none;
      }
    }
    .time-fieldset--dec {
      svg {
        transform: translate(-5px, -5px) scale(0.75);
      }
    }
    .time-fieldset--inc {
      svg {
        transform: translate(-5px, 0px) scale(0.75);
      }
    }
  }
  .time--title {
    margin-right: rem(8px);
    color: $text-color-lighter;
    min-width: rem(32px);
    text-align: center;
  }
  .time--input {
    margin: 0 rem(4px);
    text-align: center;
    width: rem(20px);
    height: rem(20px);
    line-height: rem(20px);
    appearance: textfield;
    border: 0;
    color: $text-color-light;
    &:focus {
      outline: none;
    }
  }
  .time--input::-webkit-inner-spin-button,
  .time--input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
.is-rtl {
  .time {
    direction: rtl;
  }
  .time--title {
    margin-left: rem(8px);
  }
  .time-fieldset {
    .time-fieldset--dec {
      svg {
        transform: translate(5px, -5px) scale(0.75);
      }
    }
    .time-fieldset--inc {
      svg {
        transform: translate(5px, 0px) scale(0.75);
      }
    }
  }
}
.is-ltr {
  .time {
    direction: ltr;
  }
  .time--title {
    margin-right: rem(8px);
  }
}
