.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(8px);
  .field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time-fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column-reverse;
    &.is-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    .time-fieldset--dec,
    .time-fieldset--inc {
      width: rem(20px);
      height: rem(20px);
      padding: 0;
      margin: auto;
      border: 0;
      overflow: hidden;
      cursor: pointer;
      opacity: 0.3;
      background-position: center;
      background-repeat: no-repeat;
      background-size: rem(20px 16px);
      background-color: white;
      &:focus {
        outline: none;
      }
    }
    .time-fieldset--dec {
      // background-position-y: rem(-2px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 32 32' version='1.1' xml:space='preserve' width='24' height='16' style=''%3E%3Crect id='backgroundrect' width='100%25' height='100%25' x='0' y='0' fill='none' stroke='none' class='' style=''/%3E%3Cg class='currentLayer' style=''%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath clip-rule='evenodd' d='M23.087973663100207,3.0151145343781627 c0,-0.5680387679135036 -0.49250169771224567,-1.0172325453770201 -1.0514760172015924,-1.002125131336767 H1.950687098914556 c-0.8933517502469526,-0.024171862464404576 -1.389882091703257,1.0776622015380308 -0.747313414524505,1.7141879131006816 l10.070602199232495,9.970893266566828 c0.3968214087906412,0.39279276504657384 1.0383829250333734,0.37869251194233683 1.439232977568081,0 l10.062544911744359,-9.962835979078692 C22.966107189842177,3.552938474211162 23.087973663100207,3.299133918334914 23.087973663100207,3.0151145343781627 zM11.993088791938577,11.560875076481146 L4.372909150035082,4.016232504778912 H19.613268433842077 L11.993088791938577,11.560875076481146 z' fill='%23121313' fill-rule='evenodd' id='Arrow_Drop_Down' class='selected'/%3E%3Cg id='svg_1' class=''/%3E%3Cg id='svg_2' class=''/%3E%3Cg id='svg_3' class=''/%3E%3Cg id='svg_4' class=''/%3E%3Cg id='svg_5' class=''/%3E%3Cg id='svg_6' class=''/%3E%3C/g%3E%3C/svg%3E");
    }
    .time-fieldset--inc {
      // background-position-y: rem(2px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 32 32' version='1.1' xml:space='preserve' width='24' height='16' style=''%3E%3Crect id='backgroundrect' width='100%25' height='100%25' x='0' y='0' fill='none' stroke='none' class='' style=''/%3E%3Cg class='currentLayer' style=''%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath clip-rule='evenodd' d='M23.087974616774524,3.015114772796742 c0,-0.5680387679135036 -0.49250169771224545,-1.0172325453770201 -1.0514760172015924,-1.002125131336767 H1.9506880525888715 c-0.8933517502469526,-0.02417186246440457 -1.3898820917032566,1.0776622015380308 -0.7473134145245047,1.7141879131006816 l10.070602199232495,9.970893266566828 c0.3968214087906409,0.3927927650465737 1.0383829250333734,0.3786925119423367 1.439232977568081,0 l10.062544911744359,-9.962835979078692 C22.966108143516493,3.552938712629741 23.087974616774524,3.2991341567534933 23.087974616774524,3.015114772796742 zM11.993089745612894,11.560875314899725 L4.3729101037093985,4.016232743197491 H19.613269387516393 L11.993089745612894,11.560875314899725 z' fill='%23121313' fill-rule='evenodd' id='Arrow_Drop_Down' class='' transform='rotate(-180 12,7.999999999999999) '/%3E%3Cg id='svg_1' class=''/%3E%3Cg id='svg_2' class=''/%3E%3Cg id='svg_3' class=''/%3E%3Cg id='svg_4' class=''/%3E%3Cg id='svg_5' class=''/%3E%3Cg id='svg_6' class=''/%3E%3C/g%3E%3C/svg%3E");
    }
  }
  .time--title {
    margin-right: rem(8px);
    color: $text-color-lighter;
    min-width: rem(32px);
    text-align: center;
  }
  .time--input {
    margin: 0 rem(4px);
    text-align: center;
    width: rem(20px);
    height: rem(20px);
    line-height: rem(20px);
    appearance: textfield;
    border: 0;
    color: $text-color-light;
    &:focus {
      outline: none;
    }
  }
  .time--input::-webkit-inner-spin-button,
  .time--input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
