@import './setting.scss';
@import './rem';

.react-calendar-datetime-picker {
  position: relative;
  width: 100%;
  @import './component/dtWrapper.scss';
  @import './component/header.scss';
  @import './component/yearsView.scss';
  @import './component/monthsView.scss';
  @import './component/daysView.scss';
  @import './component/calenderModal.scss';
  @import './component/inputPicker.scss';
  @import './component/todayBtn.scss';
  @import './component/timeView.scss';
}
