/////colors/////
$primary-color: #42a7f5;
$iconColor: #c9c9c9;
$text-color: #444;
$text-color-light: #666;
$text-color-lighter: #aaa;
$light-gray: #efefef;

/////size/////
$modal-width: 310px;
$global-radius: rem(8px);
$global-radius-small: rem(4px);
$global-radius-large: rem(16px);
