/////colors/////
$primary-color: #009a17;
$iconColor: #c9c9c9;
$text-color: #444;
$text-color-light: #666;
$text-color-lighter: #aaa;
$light-gray: #efefef;
$disable-color: #e4ebe5;
$disable-text: #aebfa9;
$is-selected-day: #03bf1f;
$is-today: #029418;
$is-selected-day-range: #a0f5ad;
$is-selected-day-range-color: #008213;

/////size/////
$modal-width: 310px;
$global-radius: 8px;
$global-radius-small: 4px;
$global-radius-large: 16px;
