.daysList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 340px;
}
.daysList_day {
  width: calc(340px / 7);
  height: calc(340px / 7);
  line-height: calc(340px / 7);
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.daysList_day:nth-child(7n + 1) {
  clear: left;
}
.is_today {
  border: 1px solid green;
}
.is_disabled {
  pointer-events: none;
  background-color: #aaa;
  opacity: 0.7;
}

.pointer {
  cursor: pointer;
}
