@use '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$primary-color;
  padding: 24px 16px;
  border-top-left-radius: variables.$global-radius-small;
  border-top-right-radius: variables.$global-radius-small;
  .header-date {
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    .header-date--month {
      margin-left: 8px;
      cursor: pointer;
    }
    .header-date--year {
      cursor: pointer;
    }
    .header-date--day {
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin-top: 8px;
    }
  }
  .header--btn {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    color: white;
    &.is-disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
  .header--clearBtn {
    position: absolute;
    top: 4px;
    left: 4px;
    color: white;
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: 0.8;
  }
}
.is-rtl {
  .header {
    .header-date {
      direction: ltr;
    }
    .header--btn {
      transform: scale(-1);
    }
  }
}
