.monthList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  will-change: transform;
  transition: 800ms;
  // transform: translateY(-100%);
}
.monthList_month {
  width: rem(calc(100% / 3));
  height: rem(72px);
  line-height: rem(72px);
  float: left;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  color: $text-color-light;
  transition: color 200ms ease-in-out;
  &:hover {
    color: $text-color;
  }
  &.is-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  &.is-selected-month {
    color: $is-selected-day;
    font-weight: bold;
  }
}

.monthList_month:nth-child(3n + 1) {
  clear: left;
}

.is-rtl.monthList {
  .monthList_month {
    float: right;
  }
  .monthList_month:nth-child(3n + 1) {
    clear: right;
  }
}
