.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(0 8px 8px);
  .field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr !important;
  }
  .time-fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column-reverse;
    &.is-disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    .time-fieldset--dec,
    .time-fieldset--inc {
      width: rem(16px);
      height: rem(16px);
      padding: 0;
      margin: auto;
      border: 0;
      cursor: pointer;
      opacity: 0.3;
      &:focus {
        outline: none;
      }
      position: relative;
      svg {
        transform: translate(-50%, -50%) scale(0.75);
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
  }
  .time--title {
    margin-right: rem(8px);
    color: $text-color-lighter;
    min-width: rem(32px);
    text-align: center;
  }
  .time--input {
    margin: 0 rem(4px);
    text-align: center;
    width: rem(20px);
    // height: rem(20px);
    // line-height: rem(20px);
    appearance: textfield;
    border: 0;
    color: $text-color-light;
    font-size: rem(14px);
    &:focus {
      outline: none;
    }
  }
  .time--input::-webkit-inner-spin-button,
  .time--input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
.is-rtl {
  .time {
    direction: rtl;
  }
  .time--title {
    margin-left: rem(8px);
  }
}
.is-ltr {
  .time {
    direction: ltr;
  }
  .time--title {
    margin-right: rem(8px);
  }
}
