@use '../variables.scss';
.todayBtn {
  display: block;
  text-align: center;
  margin: auto;
  border-radius: variables.$global-radius-large;
  border: 1px solid variables.$primary-color;
  width: 80px;
  padding: 4px 0;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  cursor: pointer;
  /*/ &:hover {
  //   background-color: $primary-color;
  //   color: white;
  // }/*/
}

