.todayBtn {
  display: block;
  text-align: center;
  margin: auto;
  border-radius: $global-radius-large;
  border: rem(1px) solid $primary-color;
  width: rem(80px);
  padding: rem(4px 0);
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  font-size: rem(14px);
  font-weight: 400;
  margin-bottom: rem(4px);
  cursor: pointer;
  // &:hover {
  //   background-color: $primary-color;
  //   color: white;
  // }
}
