@font-face {
  font-family: 'palanquin';
  font-weight: 100;
  src: url('./palanquin-thin.ttf') format('woff'),
    url('./palanquin-thin.ttf') format('opentype'),
    url('./palanquin-thin.ttf') format('truetype');
}
@font-face {
  font-family: 'palanquin';
  font-weight: 200;
  src: url('./palanquin-extralight.ttf') format('woff'),
    url('./palanquin-extralight.ttf') format('opentype'),
    url('./palanquin-extralight.ttf') format('truetype');
}
@font-face {
  font-weight: 300;
  font-family: 'palanquin';
  src: url('./palanquin-light.ttf') format('woff'),
    url('./palanquin-light.ttf') format('opentype'),
    url('./palanquin-light.ttf') format('truetype');
}
@font-face {
  font-family: 'palanquin';
  font-weight: normal;
  src: url('./palanquin-regular.ttf') format('woff'),
    url('./palanquin-regular.ttf') format('opentype'),
    url('./palanquin-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'palanquin';
  font-weight: 500;
  src: url('./palanquin-medium.ttf') format('woff'),
    url('./palanquin-medium.ttf') format('opentype'),
    url('./palanquin-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'palanquin';
  font-weight: 600;
  src: url('./palanquin-semibold.ttf') format('woff'),
    url('./palanquin-semibold.ttf') format('opentype'),
    url('./palanquin-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'palanquin';
  font-weight: 700;
  src: url('./palanquin-bold.ttf') format('woff'),
    url('./palanquin-bold.ttf') format('opentype'),
    url('./palanquin-bold.ttf') format('truetype');
}
